<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FreeSpire.Doc" version="12.2.0" targetFramework="net472" />
  <package id="FreeSpire.PDF" version="10.2.0" targetFramework="net472" />
  <package id="FreeSpire.Presentation" version="7.8.0" targetFramework="net472" />
  <package id="Google_GenerativeAI" version="2.7.0" targetFramework="net472" />
  <package id="Humanizer.Core" version="2.14.1" targetFramework="net472" />
  <package id="Json.More.Net" version="2.1.2" targetFramework="net472" />
  <package id="JsonPointer.Net" version="5.3.1" targetFramework="net472" />
  <package id="JsonSchema.Net" version="7.3.4" targetFramework="net472" />
  <package id="JsonSchema.Net.Generation" version="5.0.2" targetFramework="net472" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="9.0.5" targetFramework="net472" />
  <package id="Microsoft.Bcl.Cryptography" version="9.0.5" targetFramework="net472" />
  <package id="Microsoft.Bcl.TimeProvider" version="9.0.5" targetFramework="net472" />
  <package id="Microsoft.Extensions.AI.Abstractions" version="9.5.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.DependencyInjection" version="9.0.5" targetFramework="net472" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="9.0.5" targetFramework="net472" />
  <package id="Microsoft.Extensions.Logging" version="9.0.5" targetFramework="net472" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="9.0.5" targetFramework="net472" />
  <package id="Microsoft.Extensions.Options" version="9.0.5" targetFramework="net472" />
  <package id="Microsoft.Extensions.Primitives" version="9.0.5" targetFramework="net472" />
  <package id="Microsoft.Office.Interop.PowerPoint" version="15.0.4420.1018" targetFramework="net472" />
  <package id="Microsoft.Office.Interop.Word" version="15.0.4797.1004" targetFramework="net472" />
  <package id="Microsoft.Web.WebView2" version="1.0.3296.44" targetFramework="net472" />
  <package id="MicrosoftOfficeCore" version="15.0.0" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net472" />
  <package id="PdfiumViewer" version="2.13.0.0" targetFramework="net472" />
  <package id="PdfiumViewer.Native.x86.v8-xfa" version="2018.4.8.256" targetFramework="net472" />
  <package id="PdfiumViewer.Native.x86_64.v8-xfa" version="2018.4.8.256" targetFramework="net472" />
  <package id="PDFsharp" version="6.2.0" targetFramework="net472" />
  <package id="Polly" version="8.5.2" targetFramework="net472" />
  <package id="Polly.Core" version="8.5.2" targetFramework="net472" />
  <package id="SkiaSharp" version="3.119.0" targetFramework="net472" />
  <package id="SkiaSharp.NativeAssets.macOS" version="3.119.0" targetFramework="net472" />
  <package id="SkiaSharp.NativeAssets.Win32" version="3.119.0" targetFramework="net472" />
  <package id="System.Buffers" version="4.6.1" targetFramework="net472" />
  <package id="System.ComponentModel.Annotations" version="5.0.0" targetFramework="net472" />
  <package id="System.Diagnostics.DiagnosticSource" version="9.0.5" targetFramework="net472" />
  <package id="System.Formats.Asn1" version="9.0.5" targetFramework="net472" />
  <package id="System.IO" version="4.3.0" targetFramework="net472" />
  <package id="System.IO.Pipelines" version="9.0.5" targetFramework="net472" />
  <package id="System.Memory" version="4.6.3" targetFramework="net472" />
  <package id="System.Net.Http" version="4.3.4" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.6.1" targetFramework="net472" />
  <package id="System.Runtime" version="4.3.1" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.1.2" targetFramework="net472" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.1" targetFramework="net472" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net472" />
  <package id="System.Security.Cryptography.Pkcs" version="9.0.5" targetFramework="net472" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net472" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.3.2" targetFramework="net472" />
  <package id="System.Text.Encoding.CodePages" version="9.0.5" targetFramework="net472" />
  <package id="System.Text.Encodings.Web" version="9.0.5" targetFramework="net472" />
  <package id="System.Text.Json" version="9.0.5" targetFramework="net472" />
  <package id="System.Threading.Tasks.Extensions" version="4.6.3" targetFramework="net472" />
  <package id="System.ValueTuple" version="4.6.1" targetFramework="net472" />
  <package id="Ububox.G2Crack" version="2.0.4.6" targetFramework="net472" />
</packages>